<div class="box box-info">
  <%= form_with(model: military, local: true, class: 'form-horizontal') do |form| %>
    <% if military.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(military.errors.count, "error") %> prohibited this military from being saved:</h2>
        <ul>
        <% military.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="box-body">
      <div class="form-group">
        <%= form.label :name, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= form.text_field :name, id: :military_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :identification, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= form.text_field :identification, id: :military_identification, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :hierarchy, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= form.select(:hierarchy_id, Hierarchy.all.map {|hierarchy| [hierarchy.name, hierarchy.id]}, {}, {class: "form-control"}) %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :father_name, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= form.text_field :father_name, id: :military_father_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :mother_name, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= form.text_field :mother_name, id: :military_mother_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :born_date, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <div class="input-group date">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= form.text_field :born_date, id: :military_born_date, class: "form-control pull-right" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :registration, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= form.text_field :registration, id: :military_registration, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :naturalness, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= form.text_field :naturalness, id: :military_naturalness, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :vote_number, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= form.text_field :vote_number, id: :military_vote_number, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :vote_zone, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= form.text_field :vote_zone, id: :military_vote_zone, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :vote_section, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= form.text_field :vote_section, id: :military_vote_section, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :cpf, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= form.text_field :cpf, id: :military_cpf, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :digital_factor, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= form.text_field :digital_factor, id: :military_digital_factor, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :blood_type, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= form.select(:blood_type, options_for_select(Military.i18n_blood_types, @military.blood_type), {}, {class: "form-control"}) %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :blood_factor, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= form.select(:blood_factor, options_for_select(Military.i18n_blood_factors, @military.blood_factor), {}, {class: "form-control"}) %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :firearm, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= form.select(:firearm, options_for_select(Military.i18n_firearms, @military.firearm), {}, {class: "form-control"}) %>
        </div>
      </div>
      <div class="actions">
        <%= form.submit I18n.t('helpers.layouts.create'), class:"btn btn-default" %>
      </div>              
    </div>
  <% end %>    
</div>
