<h3><%= I18n.t('helpers.layouts.edit') %> <%= I18n.t 'activerecord.military'%></h3>

<%= render 'form', military: @military %>

<%= link_to(I18n.t('helpers.layouts.show'), @military, class:"btn btn-default") %>
<%= link_to(I18n.t('helpers.layouts.back'), militaries_path, class:"btn btn-default") %>