<h3 class="box-title">
  <%= I18n.t 'activerecord.militaries'%>
  <div class="box-tools pull-right">
    <%= link_to "", new_military_path, class: 'btn btn-success btn-xs fa fa-plus', title: I18n.t('helpers.layouts.new'), 'data-toggle' => 'tooltip', 'data-placement' => 'left' %>
  </div>  
</h3>
<p id="notice"><%= notice %></p>
<div class="box">
  <!-- /.box-header -->
  <div class="box-body">
    <%= search_form_for @q, html: {class: "form-horizontal", role: "search"} do |f| %>
      <%= f.search_field :name_or_identification_or_registration_or_cpf_cont, class: "form-control", placeholder: t('helpers.layouts.search') %>
    <% end %>
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th><%= sort_link(@q, :name, t('activerecord.attributes.military.name').upcase!) %></th>
          <th class="col-sm-1 text-center"><%= sort_link(@q, :identification, t('activerecord.attributes.military.identification').upcase!) %></th>
          <th class="col-sm-1 text-center"><%= sort_link(@q, :registration, t('activerecord.attributes.military.registration').upcase!) %></th>
          <th class="col-sm-1 text-center"><%= sort_link(@q, :cpf, t('activerecord.attributes.military.cpf').upcase!) %></th>          
          <th class="col-sm-2 text-center"><%= StrHelper.upper('helpers.layouts.action') %></th>
        </tr>
      </thead>
      <tbody>
        <% @militaries.each do |military| %>
          <tr>
            <td><%= military.name %></td>
            <td align="center"><%= military.identification %></td>
            <td align="center"><%= military.registration %></td>
            <td align="center"><%= military.cpf %></td>
            <td align="center">
              <%= hidden_field(@military, military) %>
              <%= link_to("", military, class:"btn btn-default btn-xs fa fa-file-o", title: I18n.t('helpers.layouts.show'), 'data-toggle' => 'tooltip', 'data-placement' => 'left') %>
              <%= link_to("", edit_military_path(military.id), class: 'btn btn-info btn-xs fa fa-edit', title: I18n.t('helpers.layouts.edit'), 'data-toggle' => 'tooltip', 'data-placement' => 'left') %>
              <button type="button" class="btn btn-danger btn-xs fa fa-trash" data-toggle="modal" data-target='<%="#modal-destroy-#{military.id}"%>'></button>
              <%= render 'helpers/modal/destroy', :object_destroy => military %>            
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
</div>