<h3><%= I18n.t 'activerecord.militaries'%></h3>
<p id="notice"><%= notice %></p>
<div class="box">
  <!-- /.box-header -->
  <div class="box-body">
    <%= search_form_for @q, html: {class: "form-horizontal", role: "search"} do |f| %>
      <%= f.search_field :name_or_identification_or_registration_or_cpf_cont, class: "form-control", placeholder: t('helpers.layouts.search') %>
    <% end %>
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th><%= sort_link(@q, :name, t('activerecord.default.name')) %></th>
          <th class="col-sm-1 text-center"><%= sort_link(@q, :identification, t('activerecord.attributes.identification')) %></th>
          <th class="col-sm-1 text-center"><%= sort_link(@q, :registration, t('activerecord.attributes.registration')) %></th>
          <th class="col-sm-1 text-center"><%= sort_link(@q, :cpf, t('activerecord.attributes.cpf')) %></th>          
          <th class="col-sm-1 text-center"><%= I18n.t 'helpers.layouts.action' %></th>
        </tr>
      </thead>
      <tbody>
        <% @militaries.each do |military| %>
          <tr>
            <td><%= military.name %></td>
            <td align="center"><%= military.identification %></td>
            <td align="center"><%= military.registration %></td>
            <td align="center"><%= military.cpf %></td>
            <td align="center">
              <%= hidden_field(@military, military) %>
              <%= link_to t('helpers.layouts.edit'), edit_military_path(military.id), class: 'btn btn-default btn-xs' %>
              <%= link_to t('helpers.layouts.destroy'), military, method: :delete, data: { confirm: t('helpers.submit.sure')}, class: 'btn btn-default btn-xs' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to t('helpers.layouts.new'), new_military_path, class: 'btn btn-default btn-sm' %>
  </div>
</div>