<h3><%= I18n.t('helpers.layouts.show') %> <%= I18n.t 'activerecord.models.military.one'%></h3>
<p id="notice"><%= notice %></p>
<div class="box box-info">  
  <div class="form-horizontal">
    <div class="box-body">
      <div class="form-group">
        <%= label_tag( :name, I18n.t("activerecord.attributes.military.name").upcase!, class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:name, @military.name, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :identification, I18n.t("activerecord.attributes.military.identification"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:identification, @military.identification, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :hierarchy, I18n.t("activerecord.models.hierarchy.one").upcase!, class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:hierarchy, @military.hierarchy.name, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :father_name, I18n.t("activerecord.attributes.military.father_name").upcase!, class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:father_name, @military.father_name, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :mother_name, StrHelper.upper("activerecord.attributes.military.mother_name"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:mother_name, @military.mother_name, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :born_date, I18n.t("activerecord.attributes.military.born_date").upcase!, class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:born_date, @military.date_formatted, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :registration, StrHelper.upper("activerecord.attributes.military.registration"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:registration, @military.registration, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :naturalness, I18n.t("activerecord.attributes.military.naturalness").upcase!, class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:naturalness, @military.naturalness, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :vote_number, StrHelper.upper("activerecord.attributes.military.vote_number"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:vote_number, @military.vote_number, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :vote_zone, I18n.t("activerecord.attributes.military.vote_zone").upcase!, class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:vote_zone, @military.vote_zone, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :vote_section, StrHelper.upper("activerecord.attributes.military.vote_section"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:vote_section, @military.vote_section, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :cpf, I18n.t("activerecord.attributes.military.cpf").upcase!, class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:cpf, @military.cpf, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :digital_factor, I18n.t("activerecord.attributes.military.digital_factor").upcase!, class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:digital_factor, @military.digital_factor, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :blood_type, StrHelper.upper("activerecord.attributes.military.blood_type"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:blood_type, @military.i18n_blood_type, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :blood_factor, StrHelper.upper("activerecord.attributes.military.blood_factor"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:blood_factor, @military.i18n_blood_factor, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :firearm, I18n.t("activerecord.attributes.military.firearm").upcase!, class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:firearm, @military.i18n_firearm, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="actions">        
        <%= link_to(I18n.t('helpers.layouts.back'), militaries_path, class:"btn btn-default btn-sm") %>
        <div class="box-tools pull-right">
          <%= link_to(I18n.t('helpers.layouts.edit'), edit_military_path(@military), class:"btn btn-info btn-sm") %>
        </div>
        
      </div>
    </div>
  </div>
</div>