<h3><%= StrHelper.upper_i18n('helpers.layouts.show') %> <%= StrHelper.upper_i18n('activerecord.models.military.one')%></h3>
<div class="box box-info">  
  <div class="form-horizontal">
    <div class="box-body">
      <div class="form-group">
        <%= label_tag( :name, StrHelper.upper_i18n("activerecord.attributes.military.name"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:name, @military.name, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :cpf, StrHelper.upper_i18n("activerecord.attributes.military.cpf"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:cpf, @military.cpf, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :identification, StrHelper.upper_i18n("activerecord.attributes.military.identification"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:identification, @military.identification, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :hierarchy, StrHelper.upper_i18n("activerecord.models.hierarchy.one"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:hierarchy, @military.hierarchy.name, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :father_name, StrHelper.upper_i18n("activerecord.attributes.military.father_name"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:father_name, @military.father_name, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :mother_name, StrHelper.upper_i18n("activerecord.attributes.military.mother_name"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:mother_name, @military.mother_name, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :born_date, StrHelper.upper_i18n("activerecord.attributes.military.born_date"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <%= text_field_tag(:born_date, @military.born_date, type:"date", class: "form-control pull-right", disabled: true)%>          
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :registration, StrHelper.upper_i18n("activerecord.attributes.military.registration"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:registration, @military.registration, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :naturalness, StrHelper.upper_i18n("activerecord.attributes.military.naturalness"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:naturalness, @military.naturalness, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :vote_number, StrHelper.upper_i18n("activerecord.attributes.military.vote_number"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:vote_number, @military.vote_number, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :vote_zone, StrHelper.upper_i18n("activerecord.attributes.military.vote_zone"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:vote_zone, @military.vote_zone, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :vote_section, StrHelper.upper_i18n("activerecord.attributes.military.vote_section"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:vote_section, @military.vote_section, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :digital_factor, StrHelper.upper_i18n("activerecord.attributes.military.digital_factor"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:digital_factor, @military.digital_factor, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :blood_type, StrHelper.upper_i18n("activerecord.attributes.military.blood_type"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:blood_type, @military.i18n_blood_type, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :blood_factor, StrHelper.upper_i18n("activerecord.attributes.military.blood_factor"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:blood_factor, @military.i18n_blood_factor, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :firearm, StrHelper.upper_i18n("activerecord.attributes.military.firearm"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:firearm, @military.i18n_firearm, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="actions">        
        <%= link_to(StrHelper.upper_i18n('helpers.layouts.back'), militaries_path, class:"btn btn-default btn-sm") %>
        <div class="box-tools pull-right">
          <%= link_to(StrHelper.upper_i18n('helpers.layouts.edit'), edit_military_path(@military), class:"btn btn-info btn-sm") %>
        </div>
        
      </div>
    </div>
  </div>
</div>