<div class="box">
  <div class="box-header">
    <h3 class="box-title">
      <%= I18n.t 'activerecord.military'%>
      <p id="notice"><%= notice %></p>
    </h3>
  </div>
  <div class="box-body">
    <p>  
      <strong>Name:</strong>
      <%= @military.name %>
    </p>

    <p>
      <strong>Identification:</strong>
      <%= @military.identification %>
    </p>

    <p>
      <strong>Hierarchy:</strong>
      <%= @military.hierarchy.name %>
    </p>

    <p>
      <strong>Father name:</strong>
      <%= @military.father_name %>
    </p>

    <p>
      <strong>Mother name:</strong>
      <%= @military.mother_name %>
    </p>

    <p>
      <strong>Born date:</strong>
      <%= @military.born_date.strftime("%d/%m/%Y") %>
    </p>

    <p>
      <strong>Registration:</strong>
      <%= @military.registration %>
    </p>

    <p>
      <strong>Naturalness:</strong>
      <%= @military.naturalness %>
    </p>

    <p>
      <strong>Vote number:</strong>
      <%= @military.vote_number %>
    </p>

    <p>
      <strong>Vote zone:</strong>
      <%= @military.vote_zone %>
    </p>

    <p>
      <strong>Vote section:</strong>
      <%= @military.vote_section %>
    </p>

    <p>
      <strong>Cpf:</strong>
      <%= @military.cpf %>
    </p>

    <p>
      <strong>Digital factor:</strong>
      <%= @military.digital_factor %>
    </p>

    <p>
      <strong>Blood type:</strong>
      <%= @military.i18n_blood_type %>
    </p>

    <p>
      <strong>Blood factor:</strong>
      <%= @military.i18n_blood_factor %>
    </p>

    <p>
      <strong>Firearm:</strong>
      <%= @military.i18n_firearm %>
    </p>
    <%= link_to t('helpers.layouts.edit'), edit_military_path(@military), class: 'btn btn-default' %>
    <%= link_to t('helpers.layouts.back'), militaries_path, class: 'btn btn-default' %>
  </div>
</div>

