<div class="modal fade" id='<%="modal-request-#{object_request.id}"%>' role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <%= form_with(model: CardRequest.new, local: true, class: 'form-horizontal') do |form| %>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <%= StrHelper.system_i18n(:confirm_card_request, [:helpers, :submit])%>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="box box-success">
                        <div class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <%= label_tag( :name, StrHelper.attribute_i18n_upper(:name, [:military]), class: 'col-sm-5 control-label') %>
                                    <div class="col-sm-6">
                                        <%= text_field_tag(:name, object_request.name, {class: "form-control", disabled: true})%>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <%= form.label( :military_registration, StrHelper.attribute_i18n_upper(:military_registration, [:card_request]), class: 'col-sm-5 control-label') %>
                                    <div class="col-sm-6">
                                        <%= form.text_field :military_registration, id: :card_request_military_registration, value: object_request.registration, data:{ inputmask:'"mask": "999999-9"', mask:""}, class: "form-control" %>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <%= form.label( :document_reference, StrHelper.attribute_i18n_upper(:document_reference, [:card_request]), class: 'col-sm-5 control-label') %>
                                    <div class="col-sm-6">
                                        <%= form.text_field :document_reference, id: :card_request_document_reference, data:{ inputmask:'"mask": "BGE-999/9999"', mask:""}, class: "form-control" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <%= form.label( :reason_request, StrHelper.attribute_i18n_upper(:reason_request, [:card_request]), class: 'col-sm-5 control-label') %>
                                    <div class="col-sm-6">
                                        <%= form.select(:reason_request, options_for_select(CardRequest.i18n_reason_requests, :reason_request), {}, {class: "form-control"}) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-xs pull-left" data-dismiss="modal">
                        <%= StrHelper.system_i18n(:back, [:helpers, :layouts])%>
                    </button>
                    <%= submit_tag( StrHelper.system_i18n(:card_request, [:helpers, :layouts]), class: "btn btn-success btn-xs" )%>
                </div>
            <% end %>
        </div>
    </div>
</div>