<div class="modal fade" id='<%="modal-destroy-#{object_destroy.id}"%>' role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <%= I18n.t 'helpers.submit.sure'%>
                </h4>
            </div>
            <div class="modal-body">
                <div class="box box-danger">
                    <div class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <%= label_tag( :name, I18n.t("activerecord.attributes.military.name").upcase!, class: 'col-sm-2 control-label') %>
                                <div class="col-sm-6">
                                    <%= text_field_tag(:name, object_destroy.name, {class: "form-control", disabled: true})%>
                                </div>
                            </div>
                            <div class="form-group">
                                <%= label_tag( :registration, I18n.t("activerecord.attributes.military.registration").upcase!, class: 'col-sm-2 control-label') %>
                                <div class="col-sm-6">
                                    <%= text_field_tag(:registration, object_destroy.registration, {class: "form-control", disabled: true})%>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-xs pull-left" data-dismiss="modal">
                    <%= I18n.t 'helpers.layouts.back'%>
                </button>
                <%= button_to(I18n.t('helpers.layouts.destroy'), object_destroy, method: :delete, class: 'btn btn-danger btn-xs') %>                
            </div>
        </div>
    </div>
</div>