<div class="box box-info">
  <%= form_with(model: hierarchy, local: true, class: 'form-horizontal') do |form| %>
    <div class="box-body">
      <div class="form-group">
        <%= form.label( :name, StrHelper.attribute_i18n_upper(:name, [:hierarchy]), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= form.text_field :name, id: :hierarchy_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
          <%= form.label( :acronym, StrHelper.attribute_i18n_upper(:acronym, [:hierarchy]), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= form.text_field :acronym, id: :hierarchy_acronym, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
          <%= form.label( :rank, StrHelper.attribute_i18n_upper(:rank, [:hierarchy]), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= form.number_field( :rank, id: :hierarchy_rank, in: 0...19, class: "form-control") %>
        </div>
      </div>
      <div class="actions">        
        <%= link_to(StrHelper.system_i18n(:back, [:helpers, :layouts]), hierarchies_path, class:"btn btn-default btn-sm") %>
        <div class="box-tools pull-right">
          <%= form.submit( StrHelper.system_i18n(:save, [:helpers, :layouts]), class:"btn btn-success btn-sm" )%>
        </div>        
      </div>
    </div>
  <% end %>
</div>