<div class="box">
  <div class="box-header">
    <h3 class="box-title"><%= I18n.t 'activerecord.hierarchies'%></h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <%= search_form_for @q, html: {class: "form-horizontal", role: "search"} do |f| %>
      <%= f.search_field :name_or_acronym_or_rank_cont, class: "form-control", placeholder: t('helpers.layouts.search') %>
    <% end %>
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th><%= sort_link(@q, :name, t('activerecord.default.name')) %></th>
          <th><%= sort_link(@q, :acronym, t('activerecord.hierarchy.acronym')) %></th>
          <th><%= sort_link(@q, :rank, t('activerecord.hierarchy.rank')) %></th>
          <th><%= I18n.t 'helpers.layouts.action' %></th>
        </tr>
      </thead>
      <tbody>
        <% @hierarchies.each do |hierarchy| %>
          <tr>
            <td><%= hierarchy.name %></td>
            <td><%= hierarchy.acronym %></td>
            <td><%= hierarchy.rank %></td>
            <td>
              <%= hidden_field(@hierarchy, hierarchy) %>
              <%= link_to t('helpers.layouts.edit'), edit_hierarchy_path(hierarchy.id) %>
              <%= link_to t('helpers.layouts.destroy'), hierarchy, method: :delete, data: { confirm: t('helpers.submit.sure') } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>