<h3>
  <%= I18n.t 'activerecord.hierarchies'%>
</h3>
<p id="notice">
  <%= notice %>
</p>
<div class="box">
  <div class="box-body">
    <%= search_form_for @q, html: {class: "form-horizontal", role: "search"} do |f| %>
      <%= f.search_field :name_or_acronym_cont, class: "form-control", placeholder: t('helpers.layouts.search') %>
    <% end %>
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th>
            <%= I18n.t('activerecord.attributes.hierarchy.name').upcase! %>
          </th>
          <th class="col-sm-3 text-center">
            <%= I18n.t('activerecord.attributes.hierarchy.acronym').upcase! %>
          </th>
          <th class="col-sm-2 text-center">
            <%= StrHelper.upper('helpers.layouts.action') %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @hierarchies.each do |hierarchy| %>
          <tr>
            <td>
              <%= hierarchy.name %>
            </td>
            <td align="center">
              <%= hierarchy.acronym %>
            </td>
            <td align="center">
              <%= hidden_field(@hierarchy, hierarchy) %>
              <%= link_to( "", edit_hierarchy_path(hierarchy.id), class: 'btn btn-info btn-xs fa fa-edit', title: I18n.t('helpers.layouts.edit'), 'data-toggle' => 'tooltip', 'data-placement' => 'left')%>
              <%= link_to( "", hierarchy, class: 'btn btn-xs btn-danger fa fa-trash-o', 'data-toggle' => 'modal', 'data-target' => '#modal-destroy') %>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-destroy">
                Launch Default Modal
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render 'helpers/modal/modal_destroy' %>