<h3><%= I18n.t('helpers.layouts.show') %> <%= I18n.t 'activerecord.hierarchy'%></h3>
<p id="notice"><%= notice %></p>
<div class="box box-info">  
  <div class="form-horizontal">
    <div class="box-body">
      <div class="form-group">
        <%= label_tag( :name, I18n.t("activerecord.default.name"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:name, @hierarchy.name, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :acronym, I18n.t("activerecord.attributes.acronym"), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag( :acronym, @hierarchy.acronym, {class: "form-control", disabled: true}) %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :rank, I18n.t("activerecord.attributes.rank"),class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= number_field_tag(:rank, @hierarchy.rank, {class: "form-control", disabled: true}) %>
        </div>
      </div>
      <div class="actions">        
        <%= link_to("", hierarchies_path, class:"btn btn-default fa fa-long-arrow-left") %>
        <%= link_to("", edit_hierarchy_path(@hierarchy), class:"btn btn-info fa fa-edit") %> 
      </div>
    </div>
  </div>
</div>