<h3><%= StrHelper.system_i18n(:show, [:helpers, :layouts]) %> <%= StrHelper.model_i18n(:one, [:hierarchy])%></h3>
<p id="notice"><%= notice %></p>
<div class="box box-info">  
  <div class="form-horizontal">
    <div class="box-body">
      <div class="form-group">
        <%= label_tag( :name, StrHelper.attribute_i18n_upper(:name, [:hierarchy]), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag(:name, @hierarchy.name, {class: "form-control", disabled: true})%>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :acronym, StrHelper.attribute_i18n_upper(:acronym, [:hierarchy]), class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= text_field_tag( :acronym, @hierarchy.acronym, {class: "form-control", disabled: true}) %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag( :rank, StrHelper.attribute_i18n_upper(:rank, [:hierarchy]),class: 'col-sm-2 control-label') %>
        <div class="col-sm-6">
          <%= number_field_tag(:rank, @hierarchy.rank, {class: "form-control", disabled: true}) %>
        </div>
      </div>
      <div class="actions">        
        <%= link_to(StrHelper.system_i18n(:back, [:helpers, :layouts]), hierarchies_path, class:"btn btn-default btn-sm") %>
        <div class="box-tools pull-right">
            <%= link_to(StrHelper.system_i18n(:edit, [:helpers, :layouts]), edit_hierarchy_path(@hierarchy), class:"btn btn-info btn-sm") %>
        </div>                
      </div>
    </div>
  </div>
</div>