<div class="card_back font_default">
	<div class="father border-left">
    <%= card.father_name %>
	</div>			
	<div class="mother border-top-left">
    <%= card.mother_name %>
	</div>
	<div class="dt_born border-full">
    <%= card.born_date %>
	</div>
	<div class="register border-top-bottom">
    <%= card.registration %>
	</div>
	<div class="right_finger border-full">
		polegar direito
	</div>
	<div class="naturalness border-left">
    <%= card.naturalness %>
	</div>
	<div class="vote_register border-full">
    <%= card.vote_number %>
	</div>
	<div class="vote_zone no-border-left">
    <%= card.vote_zone %>
	</div>
	<div class="vote_section border-top-bottom">
    <%= card.vote_section %>
	</div>
	<div class="fd border-left-bottom">
    <%= card.digital_factor %>
	</div>
	<div class="cpf border-left-bottom">
    <%= card.cpf %>
	</div>
	<div class="dt_emission border-left-bottom">
	<%= card.print_date %>
	</div>
	<div class="gs border-left-bottom">
    <%= card.blood_type %>
	</div>
	<div class="rh border-left-bottom">
    <%= card.blood_factor %>
	</div>
	<div class="expire no-border-right">
	<%= card.expire_date %>
	</div>
</div>			