<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @card.identification %>
</p>

<p>
  <strong>Hierarchy:</strong>
  <%= @card.hierarchy %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @card.father_name %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @card.mother_name %>
</p>

<p>
  <strong>Born date:</strong>
  <%= @card.born_date %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @card.registration %>
</p>

<p>
  <strong>Naturalness:</strong>
  <%= @card.naturalness %>
</p>

<p>
  <strong>Vote number:</strong>
  <%= @card.vote_number %>
</p>

<p>
  <strong>Vote zone:</strong>
  <%= @card.vote_zone %>
</p>

<p>
  <strong>Vote section:</strong>
  <%= @card.vote_section %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @card.cpf %>
</p>

<p>
  <strong>Digital factor:</strong>
  <%= @card.digital_factor %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @card.blood_type %>
</p>

<p>
  <strong>Blood factor:</strong>
  <%= @card.blood_factor %>
</p>

<p>
  <strong>Firearms:</strong>
  <%= @card.firearms %>
</p>

<p>
  <strong>Print locale:</strong>
  <%= @card.print_locale %>
</p>

<p>
  <strong>Print date:</strong>
  <%= @card.print_date %>
</p>

<p>
  <strong>Expire date:</strong>
  <%= @card.expire_date %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @card.card_number %>
</p>

<p>
  <strong>Returned card:</strong>
  <%= @card.returned_card %>
</p>

<p>
  <strong>Card request:</strong>
  <%= @card.card_request %>
</p>

<p>
  <strong>Card status:</strong>
  <%= @card.card_status %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
